$table-primary-bg: #f0f0f0;
.data-table {
  width: 100%;
  background-color: $table-primary-bg;
  &--stripped {
    tbody {
      tr:nth-child(even) {
        background-color: $table-primary-bg;
      }

      tr:nth-child(odd) {
        background-color: white;
      }
    }
  }

  tr {
    td,
    th {
      padding: 10px;
      text-align: center;
    }

    th {
      cursor: pointer;
    }
  }

  tbody {
  }
  thead {
    border-bottom: 2px solid gainsboro;
  }
}
